Repository spring-projects/spring-session, pull requests merged in 2020-10, with the labels that each got.

#1710 Improve RedisSessionRepository-based sample configuration
  spring-session-samples/spring-session-sample-boot-redis-simple/src/main/java/sample/config/SessionConfig.java
Labels: in: docs

#1709 Remove unnecessary Redis commands in RedisIndexedSessionRepository#save
  spring-session-data-redis/src/integration-test/java/org/springframework/session/data/redis/RedisIndexedSessionRepositoryITests.java
  spring-session-data-redis/src/main/java/org/springframework/session/data/redis/RedisIndexedSessionRepository.java
Labels: in: redis, type: regression

#1654 Add try-with-resources to methods to insert BLOB
  spring-session-jdbc/src/main/java/org/springframework/session/jdbc/JdbcIndexedSessionRepository.java
  spring-session-jdbc/src/test/java/org/springframework/session/jdbc/JdbcIndexedSessionRepositoryTests.java
Labels: in: jdbc, type: bug
