Repository spring-projects/spring-session, pull requests merged in 2020-07, with the labels that each got.

#1656 Wording changes
  spring-session-docs/src/docs/asciidoc/guides/boot-findbyusername.adoc
  spring-session-docs/src/docs/asciidoc/guides/boot-websocket.adoc
  spring-session-docs/src/docs/asciidoc/index.adoc
Labels: in: docs, type: enhancement

#1662 Set up PR pipeline
  .github/workflows/pr-build-workflow.yml
  .travis.yml
  README.adoc
Labels: in: build, type: enhancement

#1657 Update OncePerRequestFilter to match with spring-web
  gradle/dependency-management.gradle
  spring-session-core/spring-session-core.gradle
  spring-session-core/src/main/java/org/springframework/session/web/http/OncePerRequestFilter.java
  spring-session-core/src/test/java/org/springframework/session/web/http/OncePerRequestFilterAopTests.java
Labels: in: core, type: bug

#1663 Deploy pipeline test
  .github/workflows/continuous-integration-workflow.yml
  Jenkinsfile
  README.adoc
  build.gradle
Labels: in: build, type: enhancement
